body{
    margin: 0;
}

h1, h2{
    font-family: 'Ranchers', cursive;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
img{
width: 200px;
height: auto;
border-radius: 8px;
}