body{
    margin: 0;
}

h1, h2{
    font-family: 'Ranchers', cursive;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
img{
    width: 200px;
    height: auto;
    border-radius: 8px;
}

header, footer{
    background-color: rgba(7, 81, 94, 0.767);
    margin: 0 auto;
    max-width: 45rem;
    padding: 0.75rem;
}
main{
    background-color: rgba(136, 165, 170, 0.767);
    margin: 0 auto;
    max-width: 45rem;
    padding: 0.75rem;
}

.parrafo1{
    border-radius: 10px;
    max-width: 80%;
    margin: 20px auto;
    overflow: hidden;
}

.parrafo2{
    border-radius: 10px;
    max-width: 80%;
    margin: 20px auto;
    overflow: hidden;
}

.parrafo3{
    border-radius: 10px;
    max-width: 80%;
    margin: 20px auto;
    overflow: hidden;
    
}

.foto1, .foto2, .foto3{
    border-style: solid;
    float: right;
    
}

.lin{
    color: rgb(8, 13, 92);
}



footer{
    text-align: center;
}
.lastu, .byu{
    color: whitesmoke;
}